# config
.env
.venv
__pycache__

# dart data
dart-test/data/

# ECOS data
ecos/economic_data/
ecos/economic_data_merged.csv
ecos_monthly_data.csv

# DART data
dart_out

# preprocessing
preprocessing/integrated_data.csv

# modeling
modeling/output/

# DB
DB/dump_*.sql

#Heuristic
Heuristic/dart_final.csv
Heuristic/merged_with_ecos.csv
Heuristic/dart_with_economic_indicators.csv